@media (min-width: 320px) and (max-width: 600px) {

    
}

@media (max-width:1024px) {

}


@media (max-width: 1280px) {
    #container {
        flex-direction: column;
    }

    #left-side, #right-side {
        width: 100%;
        position: static;
    }

    .left-container {
        position: relative;
        top: 50px;
        left: 0;
    }

    .right-container {
        position: relative;
        bottom: 600px;
    }

    .navbar {
        display: none;
    }

    .subtext {
        margin: 2rem auto;
    }

    .socials {
        margin-top: 2rem;
        display: flex;
        gap: 0.5rem;
    }

    .section-header {
        display: flex;
        position: relative;
        left: 5%;
        bottom: 15px;
        font-style: italic;
    }

    .Project {
        display: none;
    }
}
