* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 400px;
}

body {
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    font-family: 'Inter', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    overflow-y: auto;
    background-color: #000;;
}

#container {
    display: flex;
    height: auto;
    width: 100%;
    overflow-y: auto;
}

#left-side, #right-side {
    min-height: 100vh;
    width: 100%;
}

#right-side {
    position: relative;
    line-height: 1.5rem;
    word-spacing: 0.1rem;
    padding-top: 6rem;
    z-index: 1; 
}

::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(40, 98, 190);
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(7, 28, 134);
}

/* phone screens */
@media screen and (max-width: 600px) {

    
}

/* Medium devices */
@media screen and (min-width: 601px) and (max-wdith:1023px) {

}


/* Minimal 1024px is to show left and right side */
@media screen and (min-wdith: 1024px) {

}